<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>easyFlete</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/easyFlete.css">
    <script src="js/jquery.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <script src="js/easyFlete.js" type="text/javascript"></script>
    <body>
        <script>
            $(document).ready(function () {
                $('.masthead').visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                });
                $('.ui.sidebar').sidebar('attach events', '.toc.item');
                $('.ui.embed').embed();
            });
        </script>
        <div class="ui vertical inverted sidebar menu left w3-easyFlete-grey">
            <img src="img/easyFlete-white.png" style="height: 30px" class="w3-margin-left w3-margin-top">
            <a href="/inicio" class="item">Solicitar</a>
            <a class="active item">Mis Fletes</a>
            <a class="item">Reportes</a>
            <div class="right item">
                <a class="ui inverted button" href="logout" style="margin-top: 0px"><i class="sign out icon"></i>Cerrar Sesi&oacute;n</a>
            </div>
        </div>
        <div class="pusher">
            <div class="ui inverted vertical masterhead mhead center aligned segment w3-easyFlete-grey w3-bottombar" id="backgr" style="background-image: url(img/ub1610v2.jpg); background-repeat: no-repeat; background-position: bottom">
                <div class="ui container">
                    <div class="ui large secondary pointing menu w3-border-0">
                        <a class="toc item"><i class="sidebar icon"></i></a>
                        <img src="img/easyFlete.png" style="height: 30px" class="w3-margin-top w3-margin-right">
                        <a class="active item w3-text-easyFlete-orange" href="/inicio">Solicitar</a>
                        <a class="item" href="/fletes">Mis Fletes</a>
                        <a class="item" href="/reportes">Reportes</a>
                        <div class="right item">
                            <a class="ui secondaryy button grey w3-hide-small" href="logout" style="margin-top: 0px"><i class="sign out icon"></i>Cerrar Sesi&oacute;n</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-padding w3-padding-64 w3-card" style="background-color: #FBFBFB">
                <h2 class="ui center aligned icon header"> <i class="marker icon w3-text-easyFlete-orange"></i><span class="w3-text-easyFlete-grey">Solicitar Flete</span> </h2>
            </div>
            <div class="w3-padding w3-panel w3-padding-24" style="min-height: 600px">
                <div class="w3-content">
                    <div class="w3-col s12 m4 l4">
                        <div class="ui vertical steps">
                            <div class="active link step" onClick="mostrarStep1()" id="s1"> <i class="info icon"></i>
                                <div class="content">
                                    <div class="title">Informaci&oacute;n B&aacute;sica</div>
                                    <div class="description">Datos necesarios para crear tu flete</div>
                                </div>
                            </div>
                            <div class="link step" id="s2" onClick="mostrarStep2()"> <i class="user card icon"></i>
                                <div class="content">
                                    <div class="title">Informaci&oacute;n de Contacto</div>
                                    <div class="description">Datos necesarios para contactarte</div>
                                </div>
                            </div>
                            <div class="link step" id="s3" onClick="mostrarStep3()"> <i class="marker card icon"></i>
                                <div class="content">
                                    <div class="title">Ruta del Flete</div>
                                    <div class="description">Origen y Destino del Flete</div>
                                </div>
                            </div>
                            <div class="link step" id="s4" onClick="mostrarStep4()"> <i class="checkmark icon"></i>
                                <div class="content">
                                    <div class="title">Confirmar Solicitud</div>
                                    <div class="description">Revisa y confirma tu solicitud</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col s12 m8 l8">
                        <div id="step1" class="w3-padding w3-margin">
                            <h4 class="ui horizontal divider header w3-padding w3-text-easyFlete-orange">Informaci&oacute;n B&aacute;sica</h4>
                            <div class="ui labeled fluid input w3-margin">
                                <div class="ui label">T&iacute;tulo:</div>
                                <input id="titulo" placeholder="Ingrese un t&iacute;tulo para el flete..." type="text">
                            </div>
                            <div class="ui right labeled fluid input w3-margin">
                                <div class="ui label">Carga:</div>
                                <input id="peso" placeholder="Ingrese la carga a transportar..." type="text">
                                <div class="ui basic label">Kg</div>
                            </div>
                            <div class="ui right labeled fluid input w3-margin">
                                <div class="ui label">Volumen:</div>
                                <input id="volumen" placeholder="Ingrese el volumen a transportar..." type="text">
                                <div class="ui basic label">m³</div>
                            </div>
                            <div class="ui right labeled fluid input w3-margin">
                                <div class="ui label">Precio:</div>
                                <input id="precioMax" placeholder="Ingrese el precio m&aacute;ximo a pagar..." type="text">
                                <div class="ui basic label">UY</div>
                            </div>
                            <div class="ui labeled fluid input w3-margin">
                                <div class="ui label">Fecha:</div>
                                <input id="fecha" placeholder="Ingrese la fecha del flete..." type="date">
                            </div>
                            <div class="ui reply form w3-margin">
                                <div class="field">
                                    <textarea id="descripcion" cols="30" rows="7" style="min-height: 100px" placeholder="Escriba aqu&iacute; una descripci&oacute;n para el flete..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="step2" style="display: none" class="w3-padding w3-margin">
                            <h4 class="ui horizontal divider header w3-padding w3-text-easyFlete-orange">Informaci&oacute;n de Contacto</h4>
                            <div class="ui labeled fluid input w3-padding">
                                <div class="ui label">Nombre:</div>
                                <input id="nombre" type="text" name="nombre" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="ui labeled fluid input w3-padding">
                                <div class="ui label">Tel&eacute;fono:</div>
                                <input placeholder="Ingrese su tel&eacute;fono..." id="telefono" type="tel" name="tel" required>
                            </div>
                            <div class="ui labeled fluid input w3-padding">
                                <div class="ui label">Email:</div>
                                <input id="email" type="email" name="email" placeholder="Ingrese su direcci&oacute;n de correo..." required>
                            </div>
                        </div>
                        <div id="step3" style="display: none" class="w3-padding w3-margin">
                            <h4 class="ui horizontal divider header w3-padding w3-text-easyFlete-orange">Ruta del Flete</h4>
                            <div class="ui segment">
                                <h4 class="ui left floated header">Origen <br>
                                    <p style="font-size: 13px" class="w3-text-easyFlete-grey">escribe el nombre de la calle, seguido del numero de puerta</p>
                                </h4>
                                <div class="ui icon button circular w3-right" data-tooltip="Marcar Origen"><i class="write icon black"></i></div>
                                <div class="ui clearing divider"></div>
                                <select name="origen" id="origen" class="ui fluid search dropdown">
                                    <option value="" selected disabled>Busque una calle</option>
                                    <option value="Easy Flete" >Easy Flete</option>
                                </select>
                            </div>
                            <div class="ui segment">
                                <h4 class="ui left floated header">Destino <br>
                                    <p style="font-size: 13px" class="w3-text-easyFlete-grey">escribe el nombre de la calle, seguido del numero de puerta</p>
                                </h4>
                                <div class="ui icon button circular w3-right" data-tooltip="Marcar Destino"><i class="write icon black"></i></div>
                                <div class="ui clearing divider"></div>
                                <select name="destino" id="destino" class="ui fluid search dropdown">
                                    <option value="" selected disabled>Busque una calle</option>
                                    <option value="Easy Flete" >Easy Flete</option>
                                </select>
                            </div>
                            <script>
                                var busquedaOld;
                                $("#origen").dropdown({
                                    onNoResults: function (searchValue) {
                                        if (searchValue.length >= 3 && searchValue !== busquedaOld) {
                                            busquedaOld = searchValue;
                                            setTimeout(function () {
                                                if (searchValue === busquedaOld) {
                                                    $.get("http://localhost:10070/calles/calleNum/" + searchValue, function (result) {
                                                        setTimeout(function () {
                                                            if (searchValue === busquedaOld && result.toString() !== "") {
                                                                var x = document.getElementById("origen");
                                                                x.options.length = 0;
                                                                var option1 = document.createElement("option");
                                                                option1.value = "";
                                                                option1.disabled;
                                                                x.add(option1);
                                                                for (i = 0; i < result.length; i++) {
                                                                    var option = document.createElement("option");
                                                                    option.text = result[i];
                                                                    option.value = result[i];
                                                                    x.add(option);
                                                                }
                                                            }
                                                        }, 500);
                                                    });
                                                }
                                            }, 750);

                                        }
                                    }
                                });

                                $("#destino").dropdown({
                                    onNoResults: function (searchValue) {
                                        if (searchValue.length >= 3 && searchValue !== busquedaOld) {
                                            busquedaOld = searchValue;
                                            setTimeout(function () {
                                                if (searchValue === busquedaOld) {
                                                    $.get("http://localhost:10070/calles/calleNum/" + searchValue, function (result) {
                                                        setTimeout(function () {
                                                            if (searchValue === busquedaOld && result.toString() !== "") {
                                                                var x = document.getElementById("destino");
                                                                x.options.length = 0;
                                                                var option1 = document.createElement("option");
                                                                option1.value = "";
                                                                option1.disabled;
                                                                x.add(option1);
                                                                for (i = 0; i < result.length; i++) {
                                                                    var option = document.createElement("option");
                                                                    option.text = result[i];
                                                                    option.value = result[i];
                                                                    x.add(option);
                                                                }
                                                            }
                                                        }, 500);
                                                    });
                                                }
                                            }, 750);

                                        }
                                    }
                                });
                            </script> 
                        </div>
                        <div id="step4" class="w3-padding w3-margin" style="display: none"> 
                            <h4 class="ui horizontal divider header w3-padding w3-text-easyFlete-orange">Confirmar Solicitud</h4>
                            <div class="w3-padding w3-padding-48 w3-center">
                                <button class="huge ui secondary inverted button w3-easyFlete-orange w3-center">Crear Flete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-padding" style="margin-bottom: 50px">
                <div class="w3-card-4 w3-round" id="map" style="height: 400px; width: 100%"></div>
            </div>
            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="four wide right aligned column">
                            <h5>T.S.I.G - 2017</h5>
                            <h5>Grupo 15</h5>
                        </div>
                        <div class="four wide center aligned column">
                            <h4 class="ui inverted header">Integrantes:</h4>
                            <div class="ui inverted link list"> <a href="#" class="item">Bruno Carballido</a> <a href="#" class="item">Enzo Drago</a> <a href="#" class="item">Agust&iacute;n Maidana</a> <a href="#" class="item">Pedro Moretto</a> </div>
                        </div>
                        <div class="six wide column"> <img src="img/easyFlete.gif" style="height: 25px">
                            <p>Luegar de encuentro para clientes y fleteros</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var raster = new ol.layer.Tile({source: new ol.source.OSM()});
            var source = new ol.source.Vector({wrapX: false});
            var vector = new ol.layer.Vector({source: source});
            var typeSelect = "Point";
            var map = new ol.Map({
                layers: [raster, vector],
                target: 'map',
                view: new ol.View({
                    projection: 'EPSG:4326',
                    center: [-56.16466616190428, -34.89647351494282],
                    zoom: 12
                })
            });

            var vector_layerO;
            var vector_layerD;

            var latlonOri = "";
            var latlonDes = "";


            $(document).ready(function () {
                "use strict";
                blurBackground();
            });
        </script> 
        <script>
            function dibujarPunto(tipo) {

                var docOrigen = document.getElementById("origen").value.toString();
                var docDestino = document.getElementById("destino").value.toString();


                if ((tipo === "Origen" && docOrigen !== "") || (tipo === "Destino" && docDestino !== "")) {
                    var nomCalle;
                    var numPuerta;
                    var tmp;

                    if (tipo === "Origen") {
                        tmp = docOrigen.split(",");
                        if (tmp.length === 2) {
                            nomCalle = tmp[0].toString().trim();
                            numPuerta = tmp[1].toString().trim();
                        } else {
                            alert("Debe espesificar numero de puerta");
                        }
                    } else if (tipo === "Destino") {
                        tmp = docDestino.split(",");
                        if (tmp.length === 2) {
                            nomCalle = tmp[0].toString().trim();
                            numPuerta = tmp[1].toString().trim();
                        } else {
                            alert("Debe espesificar numero de puerta");
                        }
                    }

                    $.post("http://localhost:10070/calles/geo", "nombre=" + nomCalle + "&numero=" + numPuerta, function (resultNum) {
                        //alert(resultNum);
                        var xy = resultNum.split(",");

                        var point_feature = new ol.Feature({});
                        var point_geom = new ol.geom.Point([xy[0], xy[1]]);
                        point_feature.setGeometry(point_geom);

                        if (tipo === "Origen") {
                            if (latlonOri !== "") {
                                map.removeLayer(vector_layerO);
                            }
                            latlonOri = resultNum;
                            vector_layerO = new ol.layer.Vector({
                                source: new ol.source.Vector({
                                    features: [point_feature]
                                })
                            });
                            map.addLayer(vector_layerO);
                        } else if (tipo === "Destino") {
                            if (latlonDes !== "") {
                                map.removeLayer(vector_layerD);
                            }
                            latlonDes = resultNum;
                            vector_layerD = new ol.layer.Vector({
                                source: new ol.source.Vector({
                                    features: [point_feature]
                                })
                            });
                            map.addLayer(vector_layerD);
                        }

                        //alert(Number(xy[0]) + ","+  Number(xy[1]) +"          ->"+latlonOri +" | " + latlonDes);

                        map.setView(new ol.View({
                            projection: 'EPSG:4326',
                            center: [Number(xy[0]), Number(xy[1])],
                            zoom: 14
                        }));
                    });
                }
            }
            
            function mostrarStep1() {
                document.getElementById("step1").style.display = "block";
                document.getElementById("step2").style.display = "none";
                document.getElementById("step3").style.display = "none";
                document.getElementById("step4").style.display = "none";
                document.getElementById("s1").classList.add('active');
                document.getElementById("s2").classList.remove('active');
                document.getElementById("s3").classList.remove('active');
                document.getElementById("s4").classList.remove('active');
            }

            function mostrarStep2() {
                document.getElementById("step1").style.display = "none";
                document.getElementById("step2").style.display = "block";
                document.getElementById("step3").style.display = "none";
                document.getElementById("step4").style.display = "none";
                document.getElementById("s2").classList.add('active');
                document.getElementById("s1").classList.remove('active');
                document.getElementById("s3").classList.remove('active');
                document.getElementById("s4").classList.remove('active');
            }

            function mostrarStep3() {
                document.getElementById("step1").style.display = "none";
                document.getElementById("step2").style.display = "none";
                document.getElementById("step3").style.display = "block";
                document.getElementById("step4").style.display = "none";
                document.getElementById("s3").classList.add('active');
                document.getElementById("s2").classList.remove('active');
                document.getElementById("s1").classList.remove('active');
                document.getElementById("s4").classList.remove('active');
            }

            function mostrarStep4() {
                document.getElementById("step1").style.display = "none";
                document.getElementById("step2").style.display = "none";
                document.getElementById("step3").style.display = "none";
                document.getElementById("step4").style.display = "block";
                document.getElementById("s4").classList.add('active');
                document.getElementById("s2").classList.remove('active');
                document.getElementById("s3").classList.remove('active');
                document.getElementById("s1").classList.remove('active');
            }
            
            function ingresar() {
                var titulo = document.getElementById("titulo").value;
                var volumen = document.getElementById("volumen").value;
                var peso = document.getElementById("peso").value;
                var descripcion = document.getElementById("descripcion").value;
                var fecha = document.getElementById("fecha").value;
                var precioMax = document.getElementById("precioMax").value;
                var email = "email";

                //alert(titulo);

                if (latlonOri !== "" && latlonDes !== "" && titulo !== "" && (peso !== "" || volumen !== "") && descripcion !== "" && fecha !== "" && precioMax !== "" && email !== "") {
                    $.post("http://localhost:10070/clientes", "nombre=" + nombre + "&email=" + email + "&password=&telefono=" + telefono, function (result1) {
                        if (peso === "")
                            peso = "0";
                        if (volumen === "")
                            volumen = "0";
                        var postInfo = "origen=" + latlonOri + "&destino=" + latlonDes + "&titulo=" + titulo + "&peso=" + peso + "&volumen=" + volumen + "&descripcion=" + descripcion + "&fecha=" + fecha + "&precioMax=" + precioMax + "&email=" + email;
                        //alert(postInfo);
                        $.post("http://localhost:10070/solicitudes", postInfo, function (result) {
                            if (result === true) {
                                alert("Solicitud ingresada con exito");
                            } else {
                                alert("Error al ingresar la solicitud");
                            }
                        });
                    });
                } else {
                    alert("Faltan datos");
                }

            }
        </script>
    </body>
</html>
