<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Inicio | easyFlete</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/easyFlete.css">
    <script src="js/easyFlete.js" type="text/javascript"></script>
    <body class="w3-light-grey">
        <div class="w3-top w3-topbar w3-border-easyFlete">
            <div class="w3-bar" id="nav">
                <a class="w3-bar-item w3-button w3-hover-easyFlete w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()"><strong>&#9776;</strong></a>
                <a href="/inicio"><img src="img/easyFlete.png" alt="easyFlete" class="w3-bar-item w3-button w3-hover-none w3-padding w3-left" style="height: 45px; margin-top: -2px"></a>
                <a href="#intro" class="w3-bar-item w3-button w3-mobile w3-padding w3-hover-easyFlete w3-padding-12 w3-text-grey w3-hide-small">MIS FLETES</a>
                <a href="#solicitar" class="w3-bar-item w3-button w3-mobile w3-padding w3-hover-easyFlete w3-padding-12 w3-text-grey w3-hide-small">SOLICITAR</a>
                <a href="logout" class="w3-hide-small"><img src="img/exit.svg" style="height: 45px" class="w3-bar-item w3-right w3-button w3-hover-none"></a>
                <span class="w3-bar-item w3-padding w3-right w3-hover-none w3-padding-12 w3-text-grey w3-hover-text-grey" th:text="${usuario}"></span>
            </div>
            <div id="navMobile" class="w3-bar-block w3-easyFlete w3-card w3-hide w3-hide-large w3-hide-medium">
                <a href="#solicitar" class="w3-bar-item w3-button w3-hover-black w3-hover-opacity" onclick="toggleFunction()">MIS FLETES</a>
                <a href="#solicitar" class="w3-bar-item w3-button w3-hover-black w3-hover-opacity" onclick="toggleFunction()">SOLICITAR</a>
                <a href="logout" class="w3-bar-item w3-button w3-hover-black w3-hover-opacity" onclick="toggleFunction()">CERRAR SESI&Oacute;N</a>
            </div>
        </div>
        <div class="bgimg-6 w3-display-container w3-opacity-min w3-animate-opacity w3-card-4" id="home">
            <div class="w3-display-middle">
                <img src="img/easyFlete.png" alt="easyFlete" class="w3-display-middle" style="height: 45px; margin-top: -10px">
                <h1 class="w3-text-dark-grey w3-display-middle" style="margin-top: 40px">easyFlete</h1>
            </div>
        </div>
        <div class="w3-display-container w3-easyFlete w3-card-4" id="solicitar">
            <div class="bgimg-7 w3-opacity-min"><img src="img/route.svg" class="w3-image w3-opacity-max w3-display-middle" style="height: 250px"></div>
            <div class="w3-display-middle">
                <span class="w3-xxlarge w3-text-white w3-wide w3-padding">SOLITITAR FLETE</span>
            </div>
        </div>
        <div class="w3-container w3-padding-64">
            <div class="w3-content">
                <label for="nombre"><strong>T&iacute;tulo:</strong></label>
                <input type="text" name="nombre" class="w3-input w3-hover-border-easyFlete w3-border-0 w3-leftbar w3-round w3-margin-bottom w3-padding" placeholder="Ingresar t&iacute;tulo de la oferta..." style="width: 50%">
                <label for="carga"><strong>Carga(Kg):</strong></label>
                <input type="number" name="carga" class="w3-input w3-hover-border-easyFlete w3-leftbar w3-border-0 w3-round w3-margin-bottom w3-padding" placeholder="Ingresar t&iacute;tulo de la oferta..." style="width: 50%" min="1" value="1">
                <label for="precio"><strong>Precio M&aacute;ximo a pagar(UY):</strong></label>
                <input type="number" name="precio" class="w3-input w3-hover-border-easyFlete w3-leftbar w3-border-0 w3-round w3-margin-bottom w3-padding" placeholder="Ingresar t&iacute;tulo de la oferta..." style="width: 50%" min="1" value="1">
                <label for="date"><strong>Fecha:</strong></label>
                <input type="date" name="date" class="w3-input w3-hover-border-easyFlete w3-leftbar w3-border-0 w3-round w3-margin-bottom w3-padding" style="width: 50%">
                <label for="descripcion"><strong>Descripci&oacute;n:</strong></label>
                <textarea type="text" name="descripcion" class="w3-input w3-hover-border-easyFlete w3-round w3-leftbar w3-border-0 w3-margin-bottom w3-padding" placeholder="Ingresar descripci&oacute;n para la oferta..." style="min-height: 100px; max-height: 200px; min-width: 100%; max-width: 100%"></textarea>
                <p><strong>Or&iacute;gen y Destino:</strong></p>
                <div class="w3-container w3-padding"><div class="w3-col w3-card-4 w3-round" id="map"></div></div>
                <div class="w3-row w3-center w3-padding w3-padding-32"><button class="w3-button w3-easyFlete w3-round w3-hover-shadow w3-hover-easyFlete">SOLICITAR</button></div>
            </div>
        </div>
        <div class="w3-white w3-container w3-padding-64" id="fleteros">
            <div class="w3-content">
                fleteros....
            </div>
        </div>
        <footer class="w3-center w3-light-grey w3-topbar" style="height: 250px">
            <div class="w3-container w3-padding w3-padding-64">
                <img src="img/easyFlete.png" style="height: 50px">
                <p><strong>&copy; 2017 - easyFlete S.A</strong></p>
            </div>
        </footer>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
        <script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
    </body>
</html>
