<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Login | easyFlete</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/easyFlete.css">
        <script src="js/easyFlete.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="bgimg-4 w3-opacity"></div>
        <div class="w3-container">
            <div class="w3-col s12 m6 l3 w3-display-topmiddle">
                <div class="w3-row w3-center">
                    <img src="img/easyFlete.png" alt="easyFlete" class="w3-image w3-center w3-margin" style="height: 40px">
                </div>
                <div class="w3-row w3-white w3-card w3-round w3-topbar w3-border-green">
                    <div class="w3-container">
                        <h3 class="w3-center w3-text-grey">Iniciar Sesi&oacute;n</h3><hr>
                        <label for="email" class="w3-text-grey">Email:</label>
                        <input type="email" name="email" class="w3-input w3-margin-bottom w3-light-gray w3-bottombar w3-round w3-hover-border-grey" style="height: 40px" placeholder="Ingrese aqu&iacute; su email..." required>
                        <label for="pass" class="w3-text-grey">Contrase&ntilde;a:</label>
                        <input type="password" name="pass" class="w3-input w3-margin-bottom w3-light-gray w3-bottombar w3-round w3-hover-border-grey" style="height: 40px" placeholder="Ingrese aqu&iacute; su contrase&ntilde;a..." required><hr>
                        <div class="w3-center w3-margin"><input type="button" class="w3-button w3-green w3-round w3-hover-shadow w3-hover-green" value="INGRESAR"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
